#downloadPage {
    text-align: center;
    display: block;
    margin: auto;
    padding: auto;
}
#contactPage {
    text-align: center;
    display: block;
    margin: auto;
    width: 82px;
    height: 20;
}
#underMainTitle {
    text-align: center;
}
.title {
    text-align: center;
}
#aboutMeButton {
    text-align: center;
    display: block;
    margin: auto;
    width: 82px;
    
}
.background{
    background-color: cornflowerblue;
}