#downloadPage {
    text-align: center;
    display: block;
    margin: auto;
    padding: auto;
    width: 82px;
    
}
#contactPage {
    text-align: center;
    display: block;
    margin: auto;
    width: 82px;
    height: 20;
    
}
#underMainTitle {
    text-align: center;
}
.title {
    text-align: center;
}
#aboutMeButton {
    text-align: center;
    display: block;
    margin: auto;
    width: 82px;
    
}
.background{
    background-color: lightskyblue;
}
button{

    border: none;
    transition: 0.37s;
    background-color:rgb(84, 124, 199);
    color: azure;
    text-align: auto;
    padding: 8px;
    padding-left: 5px;
    padding-right: 5px;
}
button:hover{
    color: azure;
    background-color: rgb(48, 48, 143);
    border: none; 
    cursor: pointer;
}
#downloadTitle{
    text-align: center;
}
#addonsButton{
    text-align: center;
    display: block;
    margin: auto;
    width: 82px;
}
#packsButton{
    text-align: center;
    display: block;
    margin: auto;
    width: 82px;
}
.backButton{
    margin-top: 70px;
    width: 55px;
    border-radius: 10px;
}
#downloadBeagle{
    text-align: center;
    display: block;
    margin: auto;
    width: 82px;
}

#narutoButton{
    text-align: center;
    display: block;
    margin: auto;
    width: 82px;
}
#moreSwordButton{
    text-align: center;
    display: block;
    margin: auto;
    width: 82px;
}